PORT=5000
NODE_ENV=development
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/socialmedia_db?retryWrites=true&w=majority
JWT_SECRET=generate_using_crypto_randomBytes_64
JWT_EXPIRES_IN=7d
BCRYPT_ROUNDS=12